@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
}
/*cabeça/header*/

header{
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    align-items: end;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 100px;
    background: #000000;
    box-shadow: 0px 0px 20px rgb(150, 250, 172);
    animation: headerAnimacaoRGB 30s infinite;
}
@keyframes headerAnimacaoRGB{
    0%{box-shadow: 0px 0px 20px white;}
    10%{box-shadow: 0px 0px 20px #04ff00;}
    20%{box-shadow: 0px 0px 20px #00ffd9;}
    30%{box-shadow: 0px 0px 20px #ff01e1;}
    40%{box-shadow: 0px 0px 20px #ff0000;}
    50%{box-shadow: 0px 0px 20px white;}
    60%{box-shadow: 0px 0px 20px #04ff00;}
    70%{box-shadow: 0px 0px 20px #00ffd9;}
    80%{box-shadow: 0px 0px 20px #ff01e1;}
    90%{box-shadow: 0px 0px 20px #ff0000;}
    100%{box-shadow: 0px 0px 20px #ffffff;}
}
header>div#logo{
    position: relative;
    left: -100px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
    height: 100px;
    background-color: rgb(3, 2, 2);
}
div#logo>h2{
    font-size:30px;
    text-shadow: 0px 0px 10px rgb(253, 253, 253);
}
div#logo>img{
    filter: drop-shadow(0 0 10px gray);
    margin: 0 10px;
    width: 95px;
    height: 95px;
}
header>div#div-links{
    position: relative;
    left: 100px;
    top: -50px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    width: 40%;
    height: 50px;
    background-color: #000000;
}

#menu-icone{
    display: none;
}

header>div#div-links>div{
    width: 130px;
    height: 40px;
    background-color: #000000;
}
.div-todos-liks-header{
    width: auto;
}
header>div#div-links>div:hover{

    div.links-principais-header{
        width: auto;
        height: auto;
        background-color: #000000;
        display: grid;
        border-radius: 0 0 10px 10px;
}

    div.links-principais-header>a{
        font-size: 20px;
        margin: 10px;
        font-family: "bokor", serif;
        text-decoration: none;
        color: white;
        text-align: center;
    }
    div.links-principais-header>a:hover{
        color: red;
    }
    a.link-laptop{
        color: #00ff00;
        margin: 10px;
    }
}

div.links-principais-header{
    width: 100%;
    height: auto;
    background-color: #000000;
    display: grid;
    transition: 250ms;
}
div.links-principais-header>a{
    font-size: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    transition:250ms;
    text-align: center;
}



header>div#div-links>div>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Bokor", serif;
    transition: 400ms;
}

/*final da cabeça/header*/

/*começo do corpo*/



#section-1{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    background-color: #000000;
}
#section-1>div{
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #000000;

}
#section-1>div>img{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}
#slide-1{
    width: 100%;
    height: 100vh;
    animation: slide-1 40s infinite;
}
@keyframes slide-1{
    0%{opacity: 1;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    33%{ opacity: 0;width:0;left: 50%;
    transform: translate(-50%,0%);}
    66%{opacity: 0;width:0;left: 50%;
    transform: translate(-50%,0%);}
    100%{opacity: 0;width:0;left: 50%;
    transform: translate(-50%,0%);}
}
#slide-2{
    width: 100%;
    height: 100vh;
    animation: slide-2 40s infinite;
}
@keyframes slide-2{
    0%{opacity: 0;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    33%{ opacity: 1;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    66%{opacity: 0;width:0;left: 50%;
    transform: translate(-50%,0%);}
    100%{opacity: 0;width:0;left: 50%;
    transform: translate(-50%,0%);}
}
#slide-3{
    width: 100%;
    height: 100vh;
    animation: slide-3 40s infinite;
}
@keyframes slide-3{
    0%{opacity: 0;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    33%{ opacity: 0;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    66%{opacity: 1;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    100%{opacity: 0;width:0;left: 50%;
    transform: translate(-50%,0%);}
}
#slide-4{
    width: 100%;
    height: 100vh;
    animation: slide-4 40s infinite;
}
@keyframes slide-4{
    0%{opacity: 0;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    33%{ opacity: 0;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    66%{opacity: 0;width:100%;left: 50%;
    transform: translate(-50%,0%);}
    100%{opacity: 1;width:100% ;left: 50%;
    transform: translate(-50%,0%);}
}

#section-1>div>img{
    width: 100%;
    height: 87vh;
}



/*tablet*/

@media  screen and (max-width:1200px){
    header{
        background-color: rgb(0, 0, 0);
        /* ICONE DE MENU */
        #menu-icone{
            display: flex;
            position: absolute;
            left: 5px;
            top: 50px;
            cursor: pointer;
        }
        /* LOGO */
        div#logo{
            position: absolute;
            left: 95%;
            top: 0;
            transform: translate(-100%,0%);
}
        /* LINKS DE NAVEGAÇAO */
        div#div-links{
            display: none;
    }
    }
    /* ABRIR MENU/JS */
.adicionar-menu{
    div#div-links{
        position: absolute;
        top: 100px;
        left: 0;
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 0 5px 5px 0;
        display: block;
}
    div#div-links>.div-todos-liks-header{
    width: 125px;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
}
    div#div-links>.div-todos-liks-header>a{
        color: black;
        margin-left: 5px;
    }
    div#div-links>.div-todos-liks-header>div.links-principais-header{
        position: relative;
        left: 100%;
        top: -20px;
    }
    div#div-links>div:hover{
        div.links-principais-header{
            border-radius: 0 10px 0px 10px;
            box-shadow: 0 0 10px rgb(0, 0, 0);
        }
    }
   }
   /* FECHAR MENU/JS */
   .fechar-menu{
       div#div-links{
           display: none;background-color: #00fffb;
        }
    }
}
